<%= show_errors(f.object) %>
<div style="border:1px solid black">
  <table style="width:100%; text-align: center">
    <tr>
      <td>
        <table style="width:100%; border-bottom: 1px solid grey">
          <tr>
            <td style="padding:5px;"><strong>Name</strong>
              <%= f.text_field(:name) %></td>

        </table>
      </td>
    </tr>
    <tr class="section" style="height: 100px">
      <td><strong>Description</strong><br>
        <%= f.text_area(:description, :size => '30x5') %></td>
    </tr>

    <tr>
      <td>
        <table>
          <td class="col-md-4" style="padding:5px">
            <%= f.check_box(:repeat_save) %><strong> Repeat save</strong></td>
          <td class="col-md-4"><strong>DC</strong>
            <%= f.number_field(:save_DC, :in => 0..50) %></td>
          <td><strong>Duration</strong>
            <%= f.number_field(:duration, :in => 1..50) %></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
      <table class="section" style="width: 100%">
      <td style="padding:5px"><strong>Save Type</strong></td>
        <td><%= f.radio_button(:save_type, "Fort") %>Fortitude</td>
        <td><%= f.radio_button(:save_type, "Ref") %>Reflex</td>
        <td><%= f.radio_button(:save_type, "Will") %>Will</td>
      </td>
      </table>
      </td>
    </tr>
    <tr>
      <td>
        <center><strong>Stat changes</strong></center>
      </td>
    </tr>
    <tr>
      <td>
      <table class="section">
        <tr>
      <td style="padding:5px"><strong>STR</strong>
        <%= f.number_field(:str_change, :in => -50..50) %></td>

      <td><strong>DEX</strong>
        <%= f.number_field(:dex_change, :in => -50..50) %></td>

      <td><strong>CON</strong>
        <%= f.number_field(:con_change, :in => -50..50) %></td>
    </tr>
    <tr>
      <td style="padding:5px"><strong>INT</strong>
        <%= f.number_field(:int_change, :in => -50..50) %></td>

      <td><strong>WIS</strong>
        <%= f.number_field(:wis_change, :in => -50..50) %></td>

      <td><strong>CHA</strong>
        <%= f.number_field(:cha_change, :in => -50..50) %></td>
    </tr>
      </table>
      </td>
    </tr>
    <tr>
      <table class="table table-striped">

        <% EncounterCreature.alphabetical.each do |c| %>
            <tr>
              <td>
                <%= check_box_tag('creature_ids[]', c.id) %>
                <%= c.name %> <%= c.number %>
              </td>
            </tr>
        <% end %>

      </table>
    </tr>
  </table>
</div>