<% #todo fix naming conventions %>
<table>
  <tr>
    <th>Name</th>
    <td><%= f.text_field(:name) %></td>
  </tr>
  <tr>
    <th>Description</th>
    <td><%=f.text_area(:description, :size => '30x5') %></td>
  </tr>
  <tr>
    <th>Duration</th>
    <td><%=f.number_field(:duration) %></td>
  </tr>
  <tr>
    <th>Repeat saves allowed</th>
    <td><%=f.check_box(:repeatSave) %></td>
  </tr>
  <tr>
    <th>Save Type</th>
    <td><%=f.radio_button(:saveType, "fort") %>Fort
    <%=f.radio_button(:saveType, "ref") %>Ref
    <%=f.radio_button(:saveType, "will") %>Will</td>
  </tr>
  <tr>
    <th>Save DC</th>
    <td><%=f.number_field(:saveDC) %></td>
  </tr>
  <tr>
    <th>Strength Change</th>
    <td><%=f.number_field(:strChange) %></td>
  </tr>
  <tr>
    <th>Dexterity Change</th>
    <td><%=f.number_field(:dexChange) %></td>
  </tr>
  <tr>
    <th>Constitution Change</th>
    <td><%=f.number_field(:conChange) %></td>
  </tr>
  <tr>
    <th>Intelligence Change</th>
    <td><%=f.number_field(:intChange) %></td>
  </tr>
  <tr>
    <th>Widsom Change</th>
    <td><%=f.number_field(:wisChange) %></td>
  </tr>
  <tr>
    <th>Charisma Change</th>
    <td><%=f.number_field(:chaChange) %></td>
  </tr>
  <tr>
    <table>

      <% EncounterCreature.all.each do |c| %>
      <tr><td>
        <%= check_box_tag('creature_ids[]', c.id) %>
        <%= c.name %>
        </td></tr>
        <% end %>
      
    </table>
  </tr>
</table>