<!--Name: Edward Kennedy-->
<!--Course: CSC 415-->
<!--Semester: Fall 2016-->
<!--Instructor: Dr. Pulimood-->
<!--Project name: Improved Initiative Tracker-->
<!--Description: Pathfinder initiative tracker and status manager-->
<!--Filename:statuses/_status_info.erb-->
<!--Description:shows info about a status-->
<!--Last modified on: 11/22/16-->
<div style="border:1px solid black">
  <table style="width:100%; text-align:center">
    <tr style="height:30px; border-bottom: 1px solid grey">
      <td><strong>Name: </strong>
        <%= status.name %>
      </td>
    </tr>
    <tr style="height:100px; border-bottom: 2px solid black">
      <td><strong>Description</strong><br>
        <%= status.description %>
      </td>
    </tr>
    <tr style="height: 30px">
      <td>
        <center><%= 'Repeat saves ' + (status.repeat_save ? ' ' : 'not ') + 'allowed' %></center>
      </td>
    </tr>
    <tr>
      <table class="section" style="height:30px">
        <tr>
          <td><strong>Duration </strong>
            <%= status.duration %></td>
          <td><strong>Save: </strong>
            DC <%= status.save_DC %>
            <%= status.save_type %></td>
        </tr>
      </table>
    </tr>
    <tr>
      <td>
        <center><strong>Stat changes</strong></center>
      </td>
    </tr>
    <tr>
      <table class="section" style="height:80px">
        <tr>
          <td><strong>Str</strong>
            <%= status.str_change %></td>

          <td><strong>Dex</strong>
            <%= status.dex_change %></td>

          <td><strong>Con</strong>
            <%= status.con_change %></td>
        </tr>
        <tr>
          <td><strong>Int</strong>
            <%= status.int_change %></td>

          <td><strong>Wis</strong>
            <%= status.wis_change %></td>

          <td><strong>Cha</strong>
            <%= status.cha_change %></td>
        </tr>
      </table>
    </tr>
  </table>
</div>