<!--Name: Edward Kennedy-->
<!--Course: CSC 415-->
<!--Semester: Fall 2016-->
<!--Instructor: Dr. Pulimood-->
<!--Project name: Improved Initiative Tracker-->
<!--Description: Pathfinder initiative tracker and status manager-->
<!--Filename: creatures/_form.erb-->
<!--Description: shows the form for adding or editing a creature-->
<!--Last modified on: 11/22/16-->
<%= show_errors(f.object) %>
<div style="border:1px solid black">
  <table style="width:100%; text-align:center">
    <tr style="height:30px; border-bottom: 1px solid grey">
      <td><strong>Name: </strong>
        <%= f.text_field(:name) %>
      </td>
    </tr>
    <tr class="section" style="height:100px">
      <td><strong>Description</strong><br>
        <%= f.text_area(:description, :size => '20x5') %>
      </td>
    </tr>
    <tr>
      <table class="section" style="height:50px">
        <tr>
          <td><strong>AC </strong>
            <%= f.number_field(:armor_class, :in => 0..50) %></td>

          <td><strong>CMD </strong>
            <%= f.number_field(:combat_maneuver_defense, :in => 0..50) %></td>

          <td><strong>HP</strong>
            <%= f.number_field(:max_hit_points, :in => 0..1000) %></td>
        </tr>
      </table>
    </tr>
    <tr>
      <table class="section" style="height:50px">

        <td><strong>Fort</strong>
          <%= f.number_field(:fortitude, :in => -10..50) %></td>

        <td><strong>Ref</strong>
          <%= f.number_field(:reflex, :in => -10..50) %></td>

        <td><strong>Will</strong>
          <%= f.number_field(:will, :in => -10..50) %></td>
      </table>
    </tr>
    <tr>
      <table class="section" style="height:80px">
        <tr>
          <td>
            <strong>STR </strong>
            <%= f.number_field(:strength, :in => 0..50) %></td>
          <td>
            <strong>DEX </strong>
            <%= f.number_field(:dexterity, :in => 0..50) %></td>
          <td>
            <strong>CON </strong>
            <%= f.number_field(:constitution, :in => 0..50) %></td>
        </tr>
        <tr>
          <td>
            <strong>INT </strong>
            <%= f.number_field(:intelligence, :in => 0..50) %></td>
          <td>
            <strong>WIS </strong>
            <%= f.number_field(:wisdom, :in => 0..50) %></td>
          <td>
            <strong>CHA </strong>
            <%= f.number_field(:charisma, :in => 0..50) %></td>
        </tr>
      </table>
    </tr>
  </table>
</div>