<table>
  <tr>
    <th>Name</th>
    <td><%= f.text_field(:name) %></td>
  </tr>
  <tr>
    <th>Description</th>
    <td><%= f.text_area(:description, :size => '30x10') %></td>
  </tr>
  <tr>
    <th>Armor Class</th>
    <td><%= f.text_field(:armor_class) %></td>
  </tr>
  <tr>
    <th>CMD</th>
    <td><%= f.text_field(:combat_maneuver_defense) %></td>
  </tr>
  <tr>
    <th>HP</th>
    <td><%= f.text_field(:max_hit_points) %></td>
  </tr>
  <tr>
    <th>Strength</th>
    <td><%= f.text_field(:strength) %></td>
  </tr>
  <tr>
    <th>Dexterity</th>
    <td><%= f.text_field(:dexterity) %></td>
  </tr>
  <tr>
    <th>Constitution</th>
    <td><%= f.text_field(:constitution) %></td>
  </tr>
  <tr>
    <th>Intelligence</th>
    <td><%= f.text_field(:intelligence) %></td>
  </tr>
  <tr>
    <th>Wisdom</th>
    <td><%= f.text_field(:wisdom) %></td>
  </tr>
  <tr>
    <th>Charisma</th>
    <td><%= f.text_field(:charisma) %></td>
  </tr>
  <tr>
    <th>Fortitude</th>
    <td><%= f.text_field(:fortitude) %></td>
  </tr>
  <tr>
    <th>Reflex</th>
    <td><%= f.text_field(:reflex) %></td>
  </tr>
  <tr>
    <th>Will</th>
    <td><%= f.text_field(:will) %></td>
  </tr>
</table>