<div style="border:1px solid black">
  <table style="width:100%; text-align:center">
    <tr style="height:30px; border-bottom: 1px solid grey">
      <td><strong>Name: </strong>
        <%= creature.name %>
      </td>
    </tr>
    <tr class="section" style="height:100px">
      <td><strong>Description</strong><br>
        <%= creature.description %>
      </td>
    </tr>
    <tr>
      <table class="section" style="height:50px">
        <tr>
          <td><strong>AC </strong>
            <%= creature.armor_class %></td>

          <td><strong>CMD </strong>
            <%= creature.combat_maneuver_defense %></td>

          <td><strong>HP</strong>
            <%= creature.max_hit_points %></td>
        </tr>
      </table>
    </tr>
    <tr>
      <table class="section" style="height:50px">

        <td><strong>Fort</strong>
          <%= creature.fortitude %></td>

        <td><strong>Ref</strong>
          <%= creature.reflex %></td>

        <td><strong>Will</strong>
          <%= creature.will %></td>
      </table>
    </tr>
    <tr>
      <table class="section" style="height:80px">
        <tr>
          <td>
            <strong>STR </strong>
            <%= creature.strength %></td>
          <td>
            <strong>DEX </strong>
            <%= creature.dexterity %></td>
          <td>
            <strong>CON </strong>
            <%= creature.constitution %></td>
        </tr>
        <tr>
          <td>
            <strong>INT </strong>
            <%= creature.intelligence %></td>
          <td>
            <strong>WIS </strong>
            <%= creature.wisdom %></td>
          <td>
            <strong>CHA </strong>
            <%= creature.charisma %></td>
        </tr>
      </table>
    </tr>
  </table>
</div>