<div class="col-md-6 col-md-offset-2">
  <%= render(:partial => 'main/main_table') %>
</div>
<div class="col-md-3">
  <%= link_to("<< Back to Encounter", root_path) %>
  <table class="table table-bordered" summary="Creature list">
  <tr class="header">
    <th>Name</th>
    <th>AC</th>
    <th>Details</th>
    <th>Edit</th>
    <th>Remove</th>
  </tr>
  <% @creatures.each do |creature| %>
      <tr>
        <td><%= creature.name %></td>

        <td><%= creature.armor_class %></td>
        <td><%= link_to("Show", creature_path(:id => creature.id))%></td>
        <td><%= link_to("Edit", edit_creature_path(:id => creature.id))%></td>
        <td><strong><%= link_to("X", delete_creature_path(:id => creature.id)) %></strong></td>

      </tr>

  <% end %>
</table>
<%= button_to("Add Creature to Database", new_creature_path, method: :get, class: 'btn col-md-8 col-md-offset-2') %>
</div>