<!--Name: Edward Kennedy-->
<!--Course: CSC 415-->
<!--Semester: Fall 2016-->
<!--Instructor: Dr. Pulimood-->
<!--Project name: Improved Initiative Tracker-->
<!--Description: Pathfinder initiative tracker and status manager-->
<!--Filename:encounter_creatures/_stat_block.erb-->
<!--Description:shows the stat block for an encounter creature-->
<!--Last modified on: 11/22/16-->
<div style="border:1px solid black">
  <table style="width:100%; text-align:center">
    <tr style="height:30px; border-bottom: 1px solid gainsboro">
      <td><strong>Name: </strong>
        <%= creature.name %>
      </td>
    </tr>
    <tr class="section" style="height:100px">
      <td><strong>Description</strong><br>
        <%= creature.description %>
      </td>
    </tr>
    <tr>
      <table class="section" style="height:50px">
        <tr>
          <td><strong>Init </strong>
            <%= creature.initiative %></td>
          <td><strong>AC </strong>
            <%= creature.armor_class %></td>

          <td><strong>CMD </strong>
            <%= creature.combat_maneuver_defense %></td>

          <td><strong>HP</strong>
            <%= creature.max_hit_points %></td>
        </tr>
      </table>
    </tr>
    <tr>
      <table class="section" style="height:50px">

        <td><strong>Fort</strong>
          <%= creature.fortitude %></td>

        <td><strong>Ref</strong>
          <%= creature.reflex %></td>

        <td><strong>Will</strong>
          <%= creature.will %></td>
      </table>
    </tr>
    <tr>
      <table class="section" style="height:80px">
        <tr>
          <td>
            <strong>STR </strong>
            <%= creature.strength %></td>
          <td>
            <strong>DEX </strong>
            <%= creature.dexterity %></td>
          <td>
            <strong>CON </strong>
            <%= creature.constitution %></td>
        </tr>
        <tr>
          <td>
            <strong>INT </strong>
            <%= creature.intelligence %></td>
          <td>
            <strong>WIS </strong>
            <%= creature.wisdom %></td>
          <td>
            <strong>CHA </strong>
            <%= creature.charisma %></td>
        </tr>
      </table>
    </tr>

    <tr>
      <td>
        <strong>
          <center>Statuses</center>
        </strong>
      </td>
    </tr>
    <tr>
      <table style="width:100%; text-align:center">
        <tr>
          <% creature.statuses.each do |status| %>
              <td class="statuses">
                <%= status.name %>: <%= status.duration %>
              </td>
          <% end %>
        </tr>
      </table>
    </tr>
  </table>
</div>