<!--Name: Edward Kennedy-->
<!--Course: CSC 415-->
<!--Semester: Fall 2016-->
<!--Instructor: Dr. Pulimood-->
<!--Project name: Improved Initiative Tracker-->
<!--Description: Pathfinder initiative tracker and status manager-->
<!--Filename:encounter_creatures/delete.html.erb-->
<!--Description:shows the prompt to remove a creature from the encounter, next to the main table-->
<!--Last modified on: 11/22/16-->
<div class="col-md-6 col-md-offset-2">
  <%= render(:partial => 'main/main_table') %>
</div>
<div class="col-md-3">
  <div class="col-md-8 col-md-offset-2">
    <%= link_to("<< Back to encounter", root_path) %>
    <%= form_for(@creature, :url => encounter_creature_path(@creature), :method => 'delete') do |f| %>

        <p><strong>Are you sure you want to remove <%= @creature.name %> <%= @creature.number %>?</strong></p>

        <%= render(:partial => 'stat_block', :locals => {:creature => @creature}) %>

        <br>
        <%= f.submit("Remove Creature", class: 'btn btn-danger col-md-8 col-md-offset-2') %>


    <% end %>
  </div>
</div>