<h1>EncounterCreatures#delete</h1>
<div class="col-md-6 col-md-offset-2">
  <%= render(:partial => 'main/main_table') %>
</div>
<div class="col-md-3">
  <div class="col-md-8 col-md-offset-2">
    <%= link_to("<< Back to encounter", root_path) %>
    <%= form_for(@creature, :url => encounter_creature_path(@creature), :method => 'delete') do |f| %>

        <p><strong>Are you sure you want to remove <%= @creature.name %> <%= @creature.number %>?</strong></p>

        <%= render(:partial => 'stat_block', :locals => {:creature => @creature}) %>

        <br>
        <%= f.submit("Remove Creature", class: 'btn btn-danger col-md-8 col-md-offset-2') %>


    <% end %>
  </div>
</div>