<!DOCTYPE html>
<html>
  <head>
    <title>Improved Initiative Tracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render('layouts/user_bar') %> <!--Added for the final exam-->
    <h1><center>Improved Initiative Tracker</center></h1>
    <h2><center>By: Edward Kennedy</center><br></h2>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
